<%= form_for(@upload, :html => { :multipart => true }) do |upload_form| %>
  <% if @upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

      <ul>
      <% @upload.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= upload_form.label :upload %><br />
    <%= upload_form.file_field :attach %>
  </div>
  
  
  <div class="actions">
    <%= upload_form.submit %>
  </div>
<% end %>
